*.pyc
build
dist
*.egg-info
*.pot
debian/files
debian/python-module-stampdir/
debian/stamp-patched
debian/ubuntu-tweak.debhelper.log
debian/ubuntu-tweak.postinst.debhelper
debian/ubuntu-tweak.prerm.debhelper
debian/ubuntu-tweak.substvars
debian/ubuntu-tweak
