autom4te.cache/
config.log
config.status
m4/codeset.m4
m4/glibc2.m4
m4/glibc21.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/libtool.m4
m4/lock.m4
m4/longdouble.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/printf-posix.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/ulonglong.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
po/Makefile.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
policykit/com.ubuntu_tweak.daemon.service
scripts/script-worker
scripts/ubuntu-tweak
src/common/consts.py
Makefile
*.pyc
*.pyo
*.gmo
po/ms.po
po/lt.po
po/be.po
po/ca.po
po/uk.po
po/en_GB.po
po/pt_BR.po
po/ru.po
po/nn.po
po/ar.po
po/vi.po
po/fi.po
po/nl.po
po/stamp-po
po/ro.po
po/ko.po
po/da.po
po/fa.po
po/el.po
po/es.po
po/bs.po
po/sv.po
po/mk.po
po/en_AU.po
po/de.po
po/fr.po
po/bg.po
po/sr.po
po/ka.po
po/id.po
po/nb.po
po/th.po
po/te.po
po/hu.po
po/sk.po
po/hi.po
po/cs.po
po/en_CA.po
po/zh_CN.po
po/fo.po
po/ja.po
po/is.po
po/gl.po
po/eo.po
po/he.po
po/pl.po
po/it.po
po/tr.po
po/pt.po
po/zh_TW.po
po/sl.po
po/ga.po
ubuntu-tweak-*.tar.gz
