cscope*
*.pyc
build
dist
*.egg-info
debian/files
debian/python-module-stampdir/
debian/stamp-patched
debian/ubuntu-tweak-0.debhelper.log
debian/ubuntu-tweak-0.postinst.debhelper
debian/ubuntu-tweak-0.preinst.debhelper
debian/ubuntu-tweak-0.prerm.debhelper
debian/ubuntu-tweak-0.substvars
debian/ubuntu-tweak-0
