include *.in COPYING ChangeLog AUTHORS README NEWS
include data/scripts/*
include data/templates/*
recursive-include data *.png *.xml *.in *.conf *.desktop *.service *.ui ubuntu-tweak-daemon script-worker uturl
recursive-include po *.po *.in
