Source: ubuntu-tweak
Section: admin
Priority: optional
Maintainer: TualatriX <tualatrix@gmail.com>
Build-Depends: cdbs, debhelper (>= 5), python, libgtk2.0-dev, python-gtk2-dev, python-gnome2-dev
Standards-Version: 3.7.3

Package: ubuntu-tweak
Architecture: all
Depends: python, python-gtk2, python-apt, python-gconf, python-gnome2, python-dbus, python-xdg, gnome-desktop-data, policykit-gnome
Description: An application designed to config Ubuntu easier for everyone
 It provides many useful desktop and system options that the default 
 desktop environment doesn't provide.
