Source: ubuntu-tweak
Section: utils
Priority: optional
Maintainer: TualatriX <tualatrix@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), python, libgtk2.0-dev, python-gtk2-dev, python-gnome2-dev, autotools-dev, libdbus-glib-1-dev, libpolkit-dbus-dev
Standards-Version: 3.8.0
Homepage: http://ubuntu-tweak.com

Package: ubuntu-tweak
Architecture: all
Depends: python, python-gtk2, python-apt, python-gconf, python-gnome2, python-dbus, python-xdg, gnome-desktop-data, policykit-gnome, python-notify
Description: config Ubuntu tool
 Ubuntu Tweak is an application designed to config Ubuntu easier for everyone.
 .
 It provided many useful desktop and system options that the default desktop
 environment isn’t provided.
 .
 Features of Ubuntu Tweak:
  * View of Basic System Information(Distribution, Kernel, CPU, Memory, etc.)
  * GNOME Session Control
  * Auto Start Program Control
  * Qucik install common usded applications
  * A lot of third-party sources to keep application up-to-date
  * Clean unneeded packages or cache to free the disk space
  * Show/Hide and Change Splash screen
  * Show/Hide desktop icons or Mounted Volumes
  * Show/Hide/Rename Computer, Home, Trash icon or Network icon
  * Tweak Metacity Window Manager’s Style and Behavior
  * Compiz Fusion settings, Screen Edge Settings, Window Effects Settings, Menu
    Effect Settings
  * Set the Shortcuts to let qucikly access your favourite applications
  * GNOME Panel Settings
  * Nautilus Settings
  * Advanced Power Management Settings
  * System Security Settings
