Package: ubuntu-tweak
Priority: extra
Section: checkinstall
Installed-Size: 472
Maintainer: tualatrix@gmail.com
Architecture: all
Version: 0.2.1-1
Depends: python-gtk2
Description: a tweak application for ubuntu
