[Desktop Entry]
Name=Ubuntu Tweak
Comment=Tweak ubuntu to what you like
Comment[de]=Ubuntu Tweak erlaubt Ihnen Ihr Ubuntu-System und den Desktop einfach anzupassen.
Comment[pl]=Narzędzie Ubuntu Tweak umożliwia łatwą zmianę ukrytych ustawień w Ubuntu.
Comment[zh_CN]=从头到尾配置您想要的Ubuntu
Comment[zh_HK]=從頭到尾設定您想要的Ubuntu
Comment[zh_TW]=從頭到尾設定您想要的Ubuntu
Exec=ubuntu-tweak
Icon=/usr/share/ubuntu-tweak/data/pixmaps/ubuntu-tweak.png
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
